[submodule "edi"]
	path = edi
	url = https://github.com/OCA/edi.git
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/OCA/server-tools.git
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow.git
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/OCA/community-data-files.git
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector.git

[submodule "OCA/edi"]
	path = OCA/edi
	url = git@github.com:OCA/edi.git
	branch = 14.0
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue.git
